:root {
  --white: #ffffff;
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --progress-gradient: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
}

.progress__bar {
  width: 100%;
  height: 2rem;
  padding: 0.2rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--very-dark-blue);
}

.progress__bar-indicator {
  width: 0%;
  height: 100%;
  padding: 0.2rem;
  border-radius: inherit;
  background: var(--progress-gradient);
  -webkit-transition: width 1.5s ease;
  transition: width 1.5s ease;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress__bar-indicator::after {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  border-radius: 100%;
  background-color: var(--white);
}

.progress__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress__info-text {
  font-size: 1.3rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2.5rem;
  border-radius: 1rem;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--very-dark-blue);
}

.btn:hover {
  background-color: var(--pale-blue);
}

.btn--icon-document {
  background-image: url("../../images/icon-document.svg");
}

.btn--icon-folder {
  background-image: url("../../images/icon-folder.svg");
}

.btn--icon-upload {
  background-image: url("../../images/icon-upload.svg");
}

.storage-box {
  width: 100%;
  padding: 4rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
  background-color: var(--dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.storage-box__title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

.storage-box__wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
}

.storage-box__box {
  padding: 1rem 1.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  margin-bottom: -8rem;
}

.storage-box__available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storage-box__available-number {
  color: var(--very-dark-blue);
  font-size: 3.7rem;
  margin-right: 1rem;
}

.storage-box__available-text {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--grayish-blue);
}

@media (min-width: 768px) {
  .storage-box {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .storage-box__title {
    text-align: left;
  }
  .storage-box__wrapper {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .storage-box__box {
    margin-top: -8rem;
    margin-bottom: 0;
    position: relative;
    border-bottom-right-radius: 0;
  }
  .storage-box__box::after {
    content: '';
    border: 1rem solid transparent;
    border-right-color: var(--white);
    border-top-color: var(--white);
    position: absolute;
    bottom: -2rem;
    right: 0;
  }
}

.nav {
  width: 100%;
  padding: 4rem;
  border-radius: 1rem;
  background-color: var(--dark-blue);
  border-top-right-radius: 10.5rem;
}

.nav__logo {
  margin-bottom: 3.5rem;
}

.nav__logo-img {
  display: block;
  max-width: 100%;
}

.nav__menu {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.6rem;
  -ms-grid-columns: (min-content)[3];
      grid-template-columns: repeat(3, -webkit-min-content);
      grid-template-columns: repeat(3, min-content);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--pale-blue);
  font-family: 'Raleway', sans-serif;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1024px) {
  body {
    background-image: url("../images/bg-desktop.svg");
    background-color: var(--very-dark-blue);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

strong {
  font-weight: 700;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1000px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.storage-container {
  width: 100%;
}

.storage-container .nav {
  max-width: 33.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .storage-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .storage-container .nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 0;
    margin-right: 2rem;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }
  .storage-container .storage-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1;
            flex: 0 0 1;
  }
}

@media (min-width: 1024px) {
  .storage-container .nav {
    max-width: 33.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */